include $(WLAN_ROOT)/configs/default_defconfig

CONFIG_WLAN_FEATURE_MIB_STATS := n
CONFIG_FEATURE_MEMDUMP_ENABLE := n
CONFIG_FEATURE_UNIT_TEST_SUSPEND := n
CONFIG_WLAN_WBUFF := n
CONFIG_TSO_DEBUG_LOG_ENABLE := n
CONFIG_WLAN_FEATURE_P2P_DEBUG := n
CONFIG_DESC_DUP_DETECT_DEBUG := n
CONFIG_DEBUG_RX_RING_BUFFER := n
CONFIG_REMOVE_PKT_LOG := y
CONFIG_WDI_EVENT_ENABLE := n
CONFIG_WLAN_HANG_EVENT := n
CONFIG_FEATURE_VDEV_OPS_WAKELOCK := n
CONFIG_QCACLD_RX_DESC_MULTI_PAGE_ALLOC := n
CONFIG_RX_HASH_DEBUG := n
CONFIG_DP_MEM_PRE_ALLOC := n
CONFIG_MAX_ALLOC_PAGE_SIZE := n
CONFIG_UNIT_TEST := n
CONFIG_DSC_DEBUG := n
CONFIG_LEAK_DETECTION := n
CONFIG_TALLOC_DEBUG := n
CONFIG_HAL_DEBUG := n
CONFIG_HIF_DEBUG := n
CONFIG_QDF_TEST := n
CONFIG_HIF_CE_DEBUG_DATA_BUF := n
CONFIG_IPA_WDI3_TX_TWO_PIPES := n
CONFIG_HANDLE_RX_REROUTE_ERR := n
CONFIG_WLAN_FEATURE_DP_RX_RING_HISTORY := n
CONFIG_WLAN_FEATURE_DP_TX_DESC_HISTORY := n
CONFIG_REO_QDESC_HISTORY := n
CONFIG_DP_TX_HW_DESC_HISTORY := n
CONFIG_WLAN_FEATURE_DP_EVENT_HISTORY := n
CONFIG_RX_DESC_DEBUG_CHECK := n
CONFIG_QCACLD_WLAN_CONNECTIVITY_LOGGING := n
CONFIG_DP_TX_TRACKING := n
CONFIG_WLAN_DEBUG_LINK_VOTE := n






